<h1>Show Owner</h1>
<hr>
<p><strong>Name:</strong> <%= @owner.first_name %> <%= @owner.last_name %></p>
<p><strong>Email:</strong> <%= @owner.email %></p>
<p><strong>Phone Number:</strong> <%= @owner.phone %></p>

<%= link_to "Edit Owner", edit_owner_path, class: "btn btn-default" %>
<%= link_to "Delete Owner", @owner, method: "delete", class: "btn btn-danger" %>
<%= link_to "Back", owners_path, class: "btn btn-primary" %>
