<!-- <% form_for [@owner, @pet] do |f| %>
<div class="form-group">
<%= f.text_field :name, placeholder: "Pets name", class: "form-control" %>
</div>
<%= f.text_field :breed, placeholder: "Pet breed/type", class: "form-control" %>
<%= f.submit "Save", class: "btn btn-success" %>
<% end %> -->

<!-- # could not find errors in mine above, copied from solutions for now -->

<%= form_for [@owner, @pet]  do |f| %>
  <div class="form-group">
    <%= f.text_field :name, class: "form-control", placeholder: "Name", autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.text_field :breed, class: "form-control", placeholder: "Breed" %>
  </div>

  <div class="form-group">
    <%= f.submit "Save Pet", class: "btn btn-block btn-success" %>
  </div>
<% end %>
